@import "~normalize.css";

* {
    box-sizing: border-box;
}

.container {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
}

.page-container {
  padding: 32px;
}

.img-common {
  max-width: 100%;
  height: auto;
}


@media (max-width: 1440px) {

  .container {
    width: 100%;
  }

}